{% extends "modelo.html" %}
{% block conteudo %}
<h1 class="glossarioTitulo" id="titulo-glossario">Glossário</h1>

<table class="table table-striped table-responsive table-bordered" id="tabela">
  <thead class="thead-default">
    <tr class="tabela-pai-topo">
      <th scope="col" class="topo-tabela1">#</th>
      <th scope="col" class="topo-tabela2">Termo</th>
      <th scope="col" class="topo-tabela3">Definição</th>
      <th scope="col" class="topo-tabela4">Ação</th>
    </tr>
  </thead>
  <tbody>
  {% for termo in glossario %}
    <tr>
      <th scope="row">{{ loop.index }}</th>
      <td>{{ termo[0] }}</td>
      <td>{{ termo[1] }}</td>
      <td>
        <form method="post" action="{{ url_for('excluir_termo', termo_id=loop.index-1) }}">
        <button type="submit" class="btn btn-danger">Excluir</button>
        </form>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}